<div class="container">
  <ejs-listview 
    [dataSource]="listData"
    [fields]="fieldsSettings"
    [showHeader]="true"
    cssClass="e-list-template">
    <ng-template #headerTemplate>
      <div class="e-headerText">
        <span>Call History</span>
      </div>
    </ng-template>
    <ng-template #template let-data>
      <div class="e-list-wrapper e-list-avatar e-list-multi-line">
        <span class="e-avatar e-icon"></span>
        <span class="e-list-item-header">{{data.text}}</span>
        <span class="e-list-content">{{data.group}}, {{data.time}}</span>
      </div>
    </ng-template>
    <ng-template #groupTemplate let-data>
      <span class="e-custom-group">
        {{data.items[0].category}}
      </span>
    </ng-template>
  </ejs-listview>
</div>
